
body{
    background-color: rgb(231, 127, 191);
    margin: 0;
    padding: 0;
}

h1{
    color: blue;
    font-size: 2em;
    font-family: Arial, sans-serif;
    background-color: rgb(133, 42, 159);
    margin: 0;
    padding: 0;
}

p{
    color: gray;
    font-size: 1em;
    font-family: Arial, sans-serif;
}